body {
    background: linear-gradient(to right, #6c5ce7, #a29bfe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.692);
    max-width: 400px; /* Ajuste do tamanho máximo para formulário */
    width: 100%;
}

h1 {
    color: #6c5ce7;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    gap: 20px; 
}

label {
    font-size: 16px;
    text-align: left; 
    color: #555;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #6c5ce7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4c44b8;
}
